<app-menu></app-menu>

<h1>Forgot Password</h1>

<div class="rpf reset_password_form">
    <h3>Reset Password</h3>

    <form #ResetPasswordForm="ngForm" (ngSubmit)="master_validate(ResetPasswordForm.value)">
        <p>New Password <br>
        <input name="password" type="password" style="min-width: 300px;" placeholder="Password" ngModel><br>
        <span class="errortext" id="password"></span></p>

        <p>Confirm Password <br>
        <input name="confirm_password" type="password" style="min-width: 300px;" placeholder="Confirm Password" ngModel><br>
        <span class="errortext" id="confirm_password"></span></p>

        <input type="submit" value="Change Password">
        <input type="reset" value="Cancel">
    </form>
</div>

<div class="rpe reset_password_error_hidden">
    <p style="margin-left: 3%;">This page cannot be accessed.</p>
</div>