<app-menu></app-menu>
<h1>Upload Video</h1>

<div class="video_upload">
  <p style="margin-left: 3%; float: left;">Upload a video (50 MB max)</p>
    <label for="videoupload" class="file_submission_label file_submission">
      Upload Video
    </label> 
    <input type="file" style="display: none;" id="videoupload" name="video" accept=".webm, .mp4" (change)="onSelectFile($event)">
  <p class="errortext" id="invalidfile"></p>
</div>

<div class="videoinfo-hidden videoinfo">
  <p id="videoname" style="margin-top: 0px;"></p>
  <p id="videosize" class="sublist"></p>
  <div class="loader loader-show"></div>
</div>

<div class="activitylist activitylist-hidden">
  <div class="activitylistitem" *ngFor="let a of frame_array; let index = index">
    <p style="margin-bottom: 10px" class="sublist">{{ frame_array[index] }}</p>
    <p style="margin-top: 0px">{{ activity_array[index] }}</p>
  </div>

  <div class="report_button download_report_button">
    <button (click)="GenerateActivityReport()">Download Activity</button>
  </div>

  <div class="report_button_error download_report_button_denied">
    <p style="margin-left: 3%; margin-top: 20px;">Please sign in to save this report.</p>
  </div>
</div>

<router-outlet></router-outlet>
