<app-menu></app-menu>
<h1>Admin Dashboard</h1>

<button>Generate Report</button>

<div style="margin-bottom: 50px; margin-top: 100px;">
    <p>New users added in October: 200</p>

    <p>New camera feeds added in October: 400</p>

    <p>Videos uploaded in October: 1000</p>

    <p>Activity logs added in October: 100000</p>

    <p>Activity reports generated in October: 100</p>

    <p>Total camera feeds: 30000</p>

    <p>Total videos uploaded: 500000</p>

    <p>Total activity logs: 30000000</p>

    <p>Total activity reports generated: 10000</p>

    <br>
</div>